WebApp8/src/java/service/GetDataConfig.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema xmlns:ns0="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service/">
    <xsd:element >
        <xsd:sequence>
            <xsd:element name="connectionTimeout" type="xsd:int" minOccurs="0"/>
            <xsd:element name="recieveTimeout" type="xsd:int" minOccurs="0"/>
            <xsd:element name="endpointLocation" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
        
    </xsd:complexType>
    
    
</xsd:schema>